div.container{
    display: none;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
	}
	#ta{
		display: none;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 200px;
		background-color: #f1f1f1;
	}
	li a {
		display: block;
		color: #000;
		padding: 8px 16px;
		text-decoration: none;
	}
	li a:hover {
		background-color: #555;
		color: white;
	}
	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}
	#cadastrar {
		background-color:#f44336;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;

	}
	#Finalizar{
		background-color:blue;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		top:-20px;
		text-align:left;
    }
    .ot{
        text-align: center;
        font-size: 30px;
    }